table 
{
	text-align:center;
	color:white;
	background-color:blue;
}

#value1x1
{
	color:white;
	text-decoration:none;
}

#value1x1:hover
{
	color:yellow;
	font-weight:bold;
}

#value1x2
{
	color:white;
	text-decoration:none;
}

#value1x2:hover
{
	color:yellow;
	font-weight:bold;
}

#value1x3
{
	color:white;
	text-decoration:none;
}

#value1x3:hover
{
	color:yellow;
	font-weight:bold;
}

#value1x4
{
	color:white;
	text-decoration:none;
}

#value1x4:hover
{
	color:yellow;
	font-weight:bold;
}

#value1x5
{
	color:white;
	text-decoration:none;
}

#value1x5:hover
{
	color:yellow;
	font-weight:bold;
}

#value1x6
{
	color:white;
	text-decoration:none;
}

#value1x6:hover
{
	color:yellow;
	font-weight:bold;
}

#value2x1
{
	color:white;
	text-decoration:none;
}

#value2x1:hover
{
	color:yellow;
	font-weight:bold;
}

#value2x2
{
	color:white;
	text-decoration:none;
}

#value2x2:hover
{
	color:yellow;
	font-weight:bold;
}

#value2x3
{
	color:white;
	text-decoration:none;
}

#value2x3:hover
{
	color:yellow;
	font-weight:bold;
}

#value2x4
{
	color:white;
	text-decoration:none;
}

#value2x4:hover
{
	color:yellow;
	font-weight:bold;
}

#value2x5
{
	color:white;
	text-decoration:none;
}

#value2x5:hover
{
	color:yellow;
	font-weight:bold;
}

#value2x6
{
	color:white;
	text-decoration:none;
}

#value2x6:hover
{
	color:yellow;
	font-weight:bold;
}

#value3x1
{
	color:white;
	text-decoration:none;
}

#value3x1:hover
{
	color:yellow;
	font-weight:bold;
}

#value3x2
{
	color:white;
	text-decoration:none;
}

#value3x2:hover
{
	color:yellow;
	font-weight:bold;
}

#value3x3
{
	color:white;
	text-decoration:none;
}

#value3x3:hover
{
	color:yellow;
	font-weight:bold;
}

#value3x4
{
	color:white;
	text-decoration:none;
}

#value3x4:hover
{
	color:yellow;
	font-weight:bold;
}

#value3x5
{
	color:white;
	text-decoration:none;
}

#value3x5:hover
{
	color:yellow;
	font-weight:bold;
}

#value3x6
{
	color:white;
	text-decoration:none;
}

#value3x6:hover
{
	color:yellow;
	font-weight:bold;
}

#value4x1
{
	color:white;
	text-decoration:none;
}

#value4x1:hover
{
	color:yellow;
	font-weight:bold;
}

#value4x2
{
	color:white;
	text-decoration:none;
}

#value4x2:hover
{
	color:yellow;
	font-weight:bold;
}

#value4x3
{
	color:white;
	text-decoration:none;
}

#value4x3:hover
{
	color:yellow;
	font-weight:bold;
}

#value4x4
{
	color:white;
	text-decoration:none;
}

#value4x4:hover
{
	color:yellow;
	font-weight:bold;
}

#value4x5
{
	color:white;
	text-decoration:none;
}

#value4x5:hover
{
	color:yellow;
	font-weight:bold;
}

#value4x6
{
	color:white;
	text-decoration:none;
}

#value4x6:hover
{
	color:yellow;
	font-weight:bold;
}

#value5x1
{
	color:white;
	text-decoration:none;
}

#value5x1:hover
{
	color:yellow;
	font-weight:bold;
}

#value5x2
{
	color:white;
	text-decoration:none;
}

#value5x2:hover
{
	color:yellow;
	font-weight:bold;
}

#value5x3
{
	color:white;
	text-decoration:none;
}

#value5x3:hover
{
	color:yellow;
	font-weight:bold;
}

#value5x4
{
	color:white;
	text-decoration:none;
}

#value5x4:hover
{
	color:yellow;
	font-weight:bold;
}

#value5x5
{
	color:white;
	text-decoration:none;
}

#value5x5:hover
{
	color:yellow;
	font-weight:bold;
}

#value5x6
{
	color:white;
	text-decoration:none;
}

#value5x6:hover
{
	color:yellow;
	font-weight:bold;
}

#question1x1
{
	font-size:40px;
}

#question1x2
{
	font-size:40px;
}

#question1x3
{
	font-size:40px;
}

#question1x4
{
	font-size:40px;
}

#question1x5
{
	font-size:40px;
}

#question1x6
{
	font-size:40px;
}

#question2x1
{
	font-size:40px;
}

#question2x2
{
	font-size:40px;
}

#question2x3
{
	font-size:40px;
}

#question2x4
{
	font-size:40px;
}

#question2x5
{
	font-size:40px;
}

#question2x6
{
	font-size:40px;
}

#question3x1
{
	font-size:40px;
}

#question3x2
{
	font-size:40px;
}

#question3x3
{
	font-size:40px;
}

#question3x4
{
	font-size:40px;
}

#question3x5
{
	font-size:40px;
}

#question3x6
{
	font-size:40px;
}

#question4x1
{
	font-size:40px;
}

#question4x2
{
	font-size:40px;
}

#question4x3
{
	font-size:40px;
}

#question4x4
{
	font-size:40px;
}

#question4x5
{
	font-size:40px;
}

#question4x6
{
	font-size:40px;
}

#question5x1
{
	font-size:40px;
}

#question5x2
{
	font-size:40px;
}

#question5x3
{
	font-size:40px;
}

#question5x4
{
	font-size:40px;
}

#question5x5
{
	font-size:40px;
}

#question5x6
{
	font-size:40px;
}